$background-color: #0c0a0b;
$background-second: #ffffff0d;
$backgraund-third: #050529;
$backgraund-glass-dark: #000000b3;
$backgraund-glass-light: #0c0c0c66;
$background-button: #a869041f;
$background-footer-bar: #1f1b1c;

$text-main: #f3f4f6;
$text-light: #ffffff66;
$gold-main: #a86904;
$gold-bright: #daa520;

$color-border-card: #a869044d;
$color-shadow-card: #000000e6;
$color-shadow-card-hover: #462402be;
$color-shadow-location-pin: #ff14eb;
$color-button-mobile: #f3f4f6;
