$primary: #ff0000;
$background-color: #0c0a0b;
$text-light: #ffffff66;
$text-dark: #221e36;
$background-second: #ffffff0d;
$extra-light: #f3f4f6;
$white: #ffffff;
$golden: #a86904;
$goldenrod: #daa520;
