@use "../../variables/index" as *;
@use "../../base/index" as *;

.text_animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(107, 75, 1, 0.777),
    transparent
  );
  transform: skewX(-20deg);
  animation: shine 5s ease infinite;
}

.deals_container {
  background: $background-color;
  max-width: 80vw;
  position: relative;
  overflow: hidden;
}

.deals_tabs {
  margin: -1rem auto 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.deals_container .tab_content {
  display: none;
  gap: 1rem;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Показываем bmw */
#bmw:checked ~ .bmw_content {
  display: grid;
}

/* Показываем Yamaha */
#yamaha:checked ~ .yamaha_content {
  display: grid;
}

/* Показываем Honda */
#honda:checked ~ .honda_content {
  display: grid;
}

/* Показываем Harley */
#harley:checked ~ .harley_content {
  display: grid;
}

.deals_tabs .btn {
  cursor: pointer;
}

#bmw:checked ~ .deals_tabs label[for="bmw"],
#yamaha:checked ~ .deals_tabs label[for="yamaha"],
#honda:checked ~ .deals_tabs label[for="honda"],
#harley:checked ~ .deals_tabs label[for="harley"] {
  box-shadow: 0px 2px 20px $golden;
}

.deals_card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $white;
  border-radius: 1rem;
  box-shadow: 20px 28px 90px rgba(70, 36, 2, 0.747);
  border-radius: 2rem;
  background: $background-second;
  backdrop-filter: blur(12px);

  border: 2px solid $golden;
  color: #fff;

  /* мягкая тень */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  overflow: hidden;
}

.deals_card:hover {
  box-shadow: 0px 2px 20px rgba(70, 36, 2, 0.747);
  border-color: rgba(168, 105, 4, 0.7);
  transform: translateY(-14px) scale(1.03);
}

.deals_card img {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 1.5rem;
}

.deals_reting {
  margin-bottom: 1rem;
  color: $goldenrod;
}

.deals_reting span:last-child {
  color: $text-light;
}

.deals_card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: $extra-light;
}

.deals_card_grid {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.deals_card_grid div {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.5rem;
  color: $text-light;
}

.deals_card_grid div span {
  font-size: 1.6rem;
  color: $goldenrod;
}

.deals_card_footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.deals_card_footer h3 {
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  color: $white;
  font-weight: 600;
}

.deals_card_footer h3 span {
  font-size: 0.9rem;
  font-weight: 400;
  color: $text-light;
}

.deals_card_footer a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: $extra-light;
}

.deals_card_footer span i {
  font-size: 2rem;
  color: $goldenrod;
}

.deals_card_footer i:hover {
  color: $text-light;
}

.deals_card_footer a:hover {
  color: $text-light;
}

@media screen and (min-width: 748px) {
  .deals_container .tab_content {
    grid-template-columns: repeat(2, 1fr);
  }

  .deals_tabs {
    width: 45%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .deals_card h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .deals_card_grid div {
    font-size: 1.2rem;
  }

  .deals_card_grid div i {
    font-size: 1.5rem;
  }

  .deals_card_footer h3 {
    font-size: 1.8rem;
  }

  .deals_card_footer h3 span {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .deals_card_footer a {
    font-size: 1.5rem;
  }

  .deals_card_footer span i {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .deals_container {
    padding-top: 3rem;
  }

  .deals_container .section_container span {
    text-align: end;
  }

  .deals_container .tab_content {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .deals_tabs {
    width: 45%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .deals_card {
    padding: 2rem;
  }
}
