@use "../variables/index" as *;
@use "../base/index" as *;

.section_description {
  line-height: 1.2rem;
  font-size: 0.85rem;
  z-index: 2;
  font-family: $font-heading;
}

.footer {
  z-index: 2;
  position: relative;
  background: $background-color;
  background: $backgraund-glass-dark;
  backdrop-filter: blur(15px);
  margin-top: auto;
  border-top: $border-outside;
}

.footer_container {
  position: relative;
  display: grid;
  gap: 4rem 2rem;
  z-index: 2;
  padding: 2rem;
}

.footer_col-center {
  display: grid;
  justify-content: center;
}

.footer_logo {
  display: inline-flex;
  width: 100%;
  max-width: 180px;
  margin-bottom: 2rem;
}

.footer_logo img {
  max-width: 200px;
}

.footer_socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer_socials a {
  display: inline-flex;
  padding: 5px;
  font-size: 1.5rem;
  border: 2px solid $text-main;
  border-radius: 50%;
}

.footer_socials a:hover {
  border-color: $gold-bright;
}

.footer_col h4 {
  margin-bottom: 2rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: $text-light;
  letter-spacing: 2px;
}

.footer_links {
  display: grid;
  gap: 2rem;
}

.footer_links a {
  font-size: 0.85rem;
  font-weight: 500;
  color: $text-main;
  letter-spacing: 2px;
}

.footer_links a:hover {
  color: $gold-bright;
}

.footer_col form {
  width: 100%;
  display: flex;
  align-items: center;
  border: $border-outside;
}

.footer_col input {
  flex: 1;
  padding-inline: 1rem;
  outline: none;
  border: none;
  color: $text-main;
  background-color: transparent;
}

.footer_col input::placeholder {
  color: $text-light;
}

.footer_col form .btn {
  padding: 0.75rem;
  border: none;
  font-size: 1.25rem;
}

.footer_col form .btn:hover {
  color: $gold-bright;
}

.footer_bar {
  padding: 1.5rem 1rem;
  font-size: 0.85rem;
  text-align: center;
  background-color: $background-footer-bar;
}

@media screen and (min-width: 540px) {
  .footer_col form {
    width: 70%;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_col form {
    width: 100%;
    align-items: center;
  }
}
