@use "../variables/index" as *;
@use "../base/index" as *;

.header {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
}

.header_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header_container .section_header {
  max-width: 900px;
  padding: 3rem 3rem 1rem;
  text-align: center;
  font-size: 3rem;
}

.span-ride {
  color: $gold-main;
  font-size: clamp(5rem, 12vw, 12rem);
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 0.9;
}

.hero-line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: nowrap;
}

.today {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.header-back {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem 4rem;
  background: $backgraund-glass-light;
  backdrop-filter: blur(15px);
  border-radius: $border-radius-lg;
  border: $border-outside;
}

.header_container .section_subheader {
  font-size: 1rem;
  letter-spacing: 0.4rem;
  color: $gold-main;
}

.newsletter {
  max-width: 500px;
  text-align: center;
  padding: 0rem 1rem;
  h3 {
    font-family: $font-heading;
    padding: 0.3rem;
    margin: 3rem auto 1rem;
    color: $text-main;
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.newsletter_form {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border: $border-card;
  box-shadow: $shadow-card;
}

.newsletter_form:hover {
  border: $border-outside;
}

.newsletter_form input {
  flex: 1;
  border: none;
  font-family: $font-heading;
  outline: none;
  background: transparent;
  padding: 1rem 1.5rem;
  color: $text-main;
  font-size: 0.9rem;
}

.newsletter_form input::placeholder {
  color: $text-light;
}

.newsletter_form button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: $text-main;
  font-size: 1.3rem;
  background: $gold-main;
  transition: $transition-duration;
}

.newsletter_form button:hover {
  transform: scale(1.08);
}

@media (max-width: 992px) {
  .header_container .section_header {
    font-size: 2.5rem;
    padding: 2rem;
  }
  .hero-line {
    display: block;
  }

  .newsletter_form {
    width: 100%;
    max-width: 450px;
  }
}

@media (max-width: 768px) {
  .header-back {
    width: 100%;
    padding: 1.5rem;
  }

  .header_container .section_header {
    font-size: 2rem;
    padding: 1rem;
  }

  .hero-line {
    display: block;
  }

  .span-ride {
    font-size: 6rem;
    letter-spacing: 4px;
  }

  .header_container .section_subheader {
    font-size: 0.9rem;
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .header_container .section_header {
    font-size: 1.5rem;
  }

  .span-ride {
    font-size: 4.5rem;
    letter-spacing: 2px;
  }

  .newsletter_form input {
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .newsletter_form button {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  .header-back {
    margin-top: 7rem;
  }

  .hero-line {
    display: block;
  }

  .span-ride {
    font-size: 3.5rem;
  }

  .newsletter h3 {
    margin: 0rem auto 0.5rem;
    letter-spacing: 0;
  }
}
