@use "../variables/index" as *;
@use "../base/index" as *;

.reviews_container {
  z-index: 2;
  background: $background-color;
  border: $border-outside;
  border-radius: $border-radius-lg;
  position: relative;
  overflow: hidden;
  padding: 2rem;
}
.reviews_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  justify-content: center;
  gap: 0.7rem;
}

.hex {
  width: 260px;
  height: 260px;
  border: $border-outside;
  position: relative;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  cursor: pointer;
  transition: $transition-duration;
  z-index: 2;
}

.hex:not(:nth-child(-n + 4)) {
  margin-top: -65px;
}

.hex:nth-child(5) {
  grid-column: 2;
  margin-left: -130px;
}
.hex:nth-child(6) {
  grid-column: 3;
  margin-left: -130px;
}
.hex:nth-child(7) {
  grid-column: 4;
  margin-left: -130px;
}

.hex:nth-child(8) {
  grid-column: 2;
}
.hex:nth-child(9) {
  grid-column: 3;
}

.hex:nth-child(10) {
  grid-column: 4;
}

.hex:nth-child(11) {
  grid-column: 1;
  grid-row: 3;
}

.hex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: $transition-duration;
}

.hex:hover {
  z-index: 10;
}

.hex:hover img {
  transform: scale(1.15);
}

.content {
  position: absolute;
  inset: 0;
  background: $background-second;
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(15px);
  transition: $transition-duration;
}

.hex:hover .content {
  opacity: 1;
  transform: translateY(0);
}

.stars {
  color: $gold-bright;
  margin-bottom: 10px;
  display: flex;
  gap: 4px;
}

@media (max-width: 748px) {
  .reviews_grid {
    margin-left: 0;
  }
  .hex {
    width: 260px;
    height: 260px;
    margin: 0 0;
  }

  .hex:nth-child(odd) {
    margin-left: 130px;
  }
}

@media (max-width: 400px) {
  .reviews_grid {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
  }

  .hex {
    width: 90vw;
    height: 260px;
    margin: 0 auto;
  }

  .hex:nth-child(odd) {
    margin-left: 0;
  }
}
