@use "../variables/index" as *;
@use "../base/index" as *;
@use "./animatiom/index" as *;

.deals_container {
  background: $background-color;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  z-index: 2;
  border: $border-outside;
  border-radius: $border-radius-lg;
}

.deals_tabs {
  width: 50%;
  margin: 0rem auto 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1rem;
  position: relative;
}

.deals_container .tab_content {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  animation: fadeEffect 1s;
}

/* Показываем bmw */
#bmw:checked ~ .bmw_content {
  display: grid;
}

/* Показываем Yamaha */
#yamaha:checked ~ .yamaha_content {
  display: grid;
}

/* Показываем Honda */
#honda:checked ~ .honda_content {
  display: grid;
}

/* Показываем Harley */
#harley:checked ~ .harley_content {
  display: grid;
}

#bmw:checked ~ .deals_tabs label[for="bmw"],
#yamaha:checked ~ .deals_tabs label[for="yamaha"],
#honda:checked ~ .deals_tabs label[for="honda"],
#harley:checked ~ .deals_tabs label[for="harley"] {
  box-shadow: $shadow-button;
}

.deals_card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: $background-second;
  backdrop-filter: blur(12px);
  border-radius: $border-radius-lg;
  border: $border-card;
  box-shadow: $shadow-card;
  transition: $transition-duration;
  overflow: hidden;
}

.deals_card:hover {
  box-shadow: $shadow-card;
  border-color: $gold-main;
}

.deals_card img {
  width: 100%;
  height: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-image: url(../../../images/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $border-radius-lg;
}

.deals_card img::before {
  content: "";
  position: absolute;
  inset: -200px;
  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(168, 105, 4, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 40%,
      rgba(255, 255, 255, 0.08),
      transparent 45%
    ),
    radial-gradient(circle at 40% 80%, rgba(168, 105, 4, 0.15), transparent 50%);

  filter: blur(60px);
  z-index: 0;
}

.deals_reting {
  margin-bottom: 1rem;
  color: $gold-bright;
}

.deals_reting span:last-child {
  color: $text-light;
}

.deals_card h4 {
  margin-bottom: 1rem;
}

.deals_card_grid {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.deals_card_grid li {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.5rem;
  color: $text-light;
}

.deals_card_grid li span {
  font-size: 1.6rem;
  color: $gold-bright;
}

.deals_card_footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.deals_card_footer h3 {
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.deals_card_footer h3 span {
  font-size: 0.85rem;
  color: $text-light;
}

.deals_card_footer button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: $text-main;
}

.deals_card_footer span i {
  font-size: 2rem;
  color: $gold-bright;
}

.deals_card_footer i:hover {
  color: $text-light;
}

.deals_card_footer button:hover {
  color: $text-light;
}

// @media screen and (min-width: 748px) {
//   .deals_container .tab_content {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   .deals_tabs {
//     // width: 45%;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 1rem;
//     margin-bottom: 3rem;
//   }

//   .deals_card h4 {
//     font-size: 1.5rem;
//     font-weight: 400;
//   }

//   .deals_card_grid div {
//     font-size: 1.2rem;
//   }

//   .deals_card_grid div i {
//     font-size: 1.5rem;
//   }

//   .deals_card_footer h3 {
//     font-size: 1.8rem;
//   }

//   .deals_card_footer h3 span {
//     font-size: 1.2rem;
//     font-weight: 300;
//   }

//   .deals_card_footer a {
//     font-size: 1.5rem;
//   }

//   .deals_card_footer span i {
//     font-size: 3rem;
//   }
// }
