@use "../variables/index" as *;
@use "../base/index" as *;

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0rem 1.2rem 0rem;
}

// .hidden-mobile {
//   @include mobile {
//     display: none;
//   }
// }

.section_header {
  max-width: 1000px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: $text-main;
  font-family: $font-heading;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.section_subheader {
  max-width: 800px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: $text-main;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  .span_golden {
    display: block;

    // left: 2rem;
    color: $gold-main;
    font-size: 2.5rem;

    position: absolute;
    font-size: 2.5rem;
    top: 0%;
    left: 110%;
    transform: translate(-50%, -50%);
    // opacity: 0.5;
    z-index: -1;

    white-space: nowrap;
    pointer-events: none;
  }
}

.main-content {
  margin-left: 260px;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  @include tablet {
    margin-left: 0;
    margin-top: 90px;
  }
}
