@use "../../variables/index" as *;
@use "../../base/index" as *;

.header_f {
  min-height: 80vh;
  position: relative;
  isolation: isolate;
  background: url(../../../images/images-moto/2.png) center / cover no-repeat
    fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header_f::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    $background-color,
    rgba(0, 0, 0, 0.6),
    $background-color
  );
  z-index: -1;
}

@media screen and (min-width: 748px) {
  .banner-title .text-special {
    position: absolute;
    font-size: 25rem;
    top: 0;
    left: -80px;
    // transform: translate(-10%, -10%);
    opacity: 0.5;
    animation: animate 10s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: translate(-50%, -50%) rotateY(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateY(360deg);
    }
  }
}
