// _base.scss - общие стили для элементов (body, a, p и т.д.)
@use "../variables/index" as *;
@use "./typography" as *;

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: $background-color;
  font-family: $font-body;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a {
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
}

#about,
#deals,
#reviews,
#contact,
#follow {
  scroll-margin-top: 120px;
}

.section_container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .section_container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section_container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
