// _base.scss - общие стили для элементов (body, a, p и т.д.)
@use "../variables/index" as *;
@use "./typography" as *;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: $font-body;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.28;
  color: $text-main;
  background-color: $background-color;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a,
button,
input,
textarea * {
  transition: $transition-duration;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

#about,
#deals,
#reviews,
#contact,
#follow {
  scroll-margin-top: 20px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  #about,
  #deals,
  #reviews,
  #contact,
  #follow {
    scroll-margin-top: 60px;
  }
}

@media (max-width: 480px) {
  #about,
  #deals,
  #reviews,
  #contact,
  #follow {
    scroll-margin-top: 140px;
  }
}
